---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Layout title="Hotel Info">
<main>
   

      
      <h1 class="text-white">Hi i am <span class="text-gradient">Ernesto</span></h1>
      
</main>
</Layout>

  <style>

  </style>
